<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.GoodsMapper">
	<!-- 카테고리 -->
	<select id="category" resultType="org.zerock.domain.CategoryVO">
	select
		cateNo, cateName
	from tbl_cate1
	where cateNo = #{cateNo} 
	</select>
	
  	<!-- 카테고리2 -->
	<select id="category2" resultType="org.zerock.domain.CategoryVO">
	select
		cateNo, cateParent, cateName
	from tbl_cate2
	where cateName = #{cateName}
		
	</select>

	
	<!-- 상품 목록 --> 
	<select id="list" resultType="org.zerock.domain.GdsVO">
	select
		gdsNum, gdsName, gdsPrice, gdsStock, gdsDes, gdsDate, cateNo
	from tbl_goods
	where cateNo = #{cateNo}
	</select>
	
</mapper>