@charset "utf-8";

/* footer */
.f_menu{
    width: 1240px;
    margin: 0 auto;
}
/* footer text */
.f_in .f1{
    width: 1180px;
    margin: 0 auto;
    font-size: 12px;
}
.f_in .f1 ul li h3{
    margin-bottom: 8px;
}
.f_in .f1 ul{
    display: flex;
    justify-content: space-evenly;
}

.f_in .f1 ul li{
    margin-bottom: 10px;
}

.f_menu_in{
    display: flex;
    justify-content: space-between;
    background-color:gainsboro;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 100px;
}

.f_menu_in ul{
    display: flex;
}

.f_menu_in ul li{
    margin-right: 22px;
}
.f_menu_in ul li a{
    color: black;
}

.f_menu .f_menu_in .f_sns {
}

.f_menu .f_menu_in .f_sns .f_face img{
    width: 18px;
}
.f_menu .f_menu_in .f_sns .f_yout{
    width: 35px;
}
.f_menu .f_menu_in .f_sns .insta{
    width: 35px;
}