@charset "utf-8";

.header_in .h_gnb .h_manu .sig_in{
    display: none;
}

.sig_in, .TOP_in, .OUTER_in, .PANTS_in, .ACC_in, .SUMMER_in, .SEASIN_off_in{
    display: none;
}
/* 메인 메뉴 */

#wrap{
    width: 1240px;
    margin: 0 auto;
}

#header{
    position: relative;
}

#header_in{
    width: 1220px;
    margin: 0 auto;
}

/* 배너 */
.header_in .header_banner{
    background-color: rgb(208, 208, 208);
    text-align: center;
    padding: 12px;
    line-height: 18px;
}

.header_in .header_banner a{
    color:black;
    font-size: 16px;
}

.header_in .header_banner p img{
    width: 16px;
}

/* 검색박스 */
.header_in .serach_box{
    position: absolute;
    display: flex;
    border: 0;
    top: 48px;
    right: 15px;
    border-bottom: 2px solid black;
}

.header_in .serach_box input{
    outline: none;
    font-size: 18px;
}

.header_in .serach_box ::placeholder{
    /* text-align: center; */
}

.header_in .serach_box .ser_box_text{
    border: 0;
    width: 300px;
    height: 32px;
}    

.header_in .serach_box .serach_box_btn{
    outline: none;
    border: 0;
    width: 36px;
    height: 32px;
    background-color: rgb(255, 255, 255);
}

/* 로고 */
.header_in .logo{
    background-color: rgb(255, 255, 255);

}
.header_in .logo .logo in a img{
	disply:inline-block;
    background-color: rgb(255, 255, 255);
    width: 100px;
    
}

.header_in .logo .h_logo_name{
    position:absolute;
    top: 65px;
    left: 46px;
    font-size: 30px;
    color: rgb(189, 31, 84);
}


/* gnb */
.gnb{
    position: relative;
    width: 1240px;
    margin: 0 auto;

}
.gnb .gnb_in{
    width: 1240px;
    /* 이미지 화면 크기 */
    height: 44px; 
    display: block;
    /* position: fixed; */
/*     margin-top: -30px;*/    
	margin-top: 40px;
}

.gnb .gnb_in .h_gnb{
    display: flex;
    justify-content: space-around;
    /* background-color: grey; */
    padding: 13px;
    font-size: 16px;
}
.gnb .gnb_in .h_gnb .h_joinBar{
    /* right: 500px; */
}

.gnb .gnb_in .h_gnb ul{
    display: flex;
}
.gnb .gnb_in .h_gnb ul li{
    margin: 0 5px 0 5px;
    text-align: center;
    z-index: 100;
}
.gnb .gnb_in .h_gnb ul li a{
    color: black;
}
.gnb .gnb_in .h_gnb ul li a:hover{
    /* color:goldenrod; */
}   

/* 헤더  아이콘메뉴 */
.gnb .gnb_in .gnb_in .h_manu{
    margin-right: 20px;
}

.h_join_menu .cart_in img, .search_in img, .category_in img{
    width: 20px;
}

.h_joinBar .category_in{
    /* display: none; */
}

.h_joinBar .my_page:hover{ 
    background-color:rgb(173, 173, 173);    
}

.h_joinBar .my_page_in{
    display: none;
    position: absolute;
    margin-left: -55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* BOARD */
.h_joinBar .board:hover{
    background-color:rgb(173, 173, 173);
}
.h_joinBar .board_in{
    display: none;
    position: absolute;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h_joinBar .board_in li{
    padding: 6px;
}

.h_joinBar .my_page:hover .my_page_in{
    display: inline-block;
    background-color: antiquewhite;
    width: 110px;
}
.h_joinBar .my_page .my_page_in ul{
    display: inline-block;
}
.h_joinBar .my_page .my_page_in ul li{
    padding: 6px;   
}
.h_joinBar .my_page .my_page_in li:hover{
    background-color: gray;
    width: 80px;
}

.h_joinBar .board:hover .board_in{
    display: block;
    background-color: antiquewhite;
    width: 90px;
}

.h_joinBar .board .board_in ul{
    display: inline-block;
}

.h_joinBar .board .board_in li:hover{
    background-color: gray;
    width: 65px;
}