@charset "utf-8";

#wrap{
    width: 1263px;
    margin: 0 auto;
}

#header{
    position: relative;
    margin-bottom: 100px;
}

#header_in{
    width: 1220px;
    margin: 0 auto;
}

/* 배너 */
.header_in .header_banner{
    background-color: rgb(208, 208, 208);
    text-align: center;
    padding: 12px;
}

.header_in .header_banner a{
    color:black;
    font-size: 16px;
}

.header_in .header_banner p img{
    width: 16px;
}

/* 검색박스 */
.header_in .serach_box{
    position: absolute;
    display: flex;
    border: 0;
    top: 50px;
    right: 20px;
    border-bottom: 2px solid black;
}

.header_in .serach_box input{
    outline: none;
    font-size: 18px;
}

.header_in .serach_box ::placeholder{
    /* text-align: center; */
}

.header_in .serach_box .ser_box_text{
    border: 0;
    width: 300px;
    height: 32px;
}    

.header_in .serach_box .serach_box_btn{
    outline: none;
    border: 0;
    width: 36px;
    height: 32px;
    background-color: rgb(255, 255, 255);
}

/* 로고 */
.header_in .logo{
    width: 50px;
}

.header_in .logo .h_logo_name{
    position:absolute;
    top: 65px;
    left: 46px;
    font-size: 30px;
    color: rgb(189, 31, 84);
}


/* gnb */
.gnb{
    width: 1263px;
    margin: 0 auto;
}
.gnb .gnb_in{
    width: 1263px;
    height: 30px;
    display: block;
    /* position: fixed; */
    /* margin-top: 50px; */
}
.gnb_in .h_gnb{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    font-size: 13px;
    padding-top: 18px;
    padding-bottom: -2px;
    padding-left: 67px;
    padding-right: 98px;
}
.h_gnb .h_joinBar{
    right: 500px;
}

.h_gnb ul{
    display: flex;
}
.h_gnb ul li{
    margin: 0 6px 0 6px;
    text-align: center;
}
.h_gnb ul li a{
    color: black;
}

/* 헤더  아이콘메뉴 */
.gnb_in .h_manu{
    margin-right: 20px;
}

.h_join_menu .cart_in img, .search_in img, .category_in img{
    width: 20px;
}

.h_joinBar .category_in{
    display: none;
}

.h_joinBar .my_page:hover{ 
    background-color:rgb(173, 173, 173);    
}

.h_joinBar .my_page_in{
    display: none;
    position: absolute;
    margin-left: -55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* BOARD */
.h_joinBar .board:hover{
    background-color:rgb(173, 173, 173);
}
.h_joinBar .board_in{
    display: none;
    position: absolute;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h_joinBar .board_in li{
    padding: 6px;
}

.h_joinBar .my_page:hover .my_page_in{
    display: inline-block;
    background-color: antiquewhite;
    width: 110px;
}
.h_joinBar .my_page .my_page_in ul{
    display: inline-block;
}
.h_joinBar .my_page .my_page_in ul li{
    padding: 6px;   
}
.h_joinBar .my_page .my_page_in li:hover{
    background-color: gray;
    width: 80px;
}

.h_joinBar .board:hover .board_in{
    display: block;
    background-color: antiquewhite;
    width: 90px;
}

.h_joinBar .board .board_in ul{
    display: inline-block;
}

.h_joinBar .board .board_in li:hover{
    background-color: gray;
    width: 65px;
}


/* 메인슬라이드 */
#container{
    /* position: relative; */
    width: 1240px;
    margin: 0 auto;
}

.main_slide{
    width: 1240px;
    margin: 0 auto;
}

.main_silde_in{
    width: 1220px;
    margin: 0 auto;
}
.main_silde_in img{
}

/* 섹션1 */
.sec1_main_notice{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(231, 231, 231);
}
.sec1_main_notice_in{
    margin-bottom: 30px;
}

.sec1_main_notice h2{
    margin-bottom: 20px;
}
.sec1_main_notice_in ul{
    display: flex;
    justify-content: space-around;
}
.sec1_main_notice_in ul li h2{
    /* margin-bottom: 20px; */
}

.sec1_main_notice_in ul li a{
    display: block;
    width: 210px;
    height: 260px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

/* 섹션2 */

.sec2_nowLive_bset{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    background-color:rgb(218, 217, 217);
    text-align: center;
    padding-top: 30px;
}

.sec2_nowLive_bset .tap_pager{
    background-color: gray;
    margin-top: 20px;

}

.sec2_nowLive_bset .tap_pager ul li p{
    margin: 0 30px 0 30px;
    padding: 10px 0 10px 0;
    font-size: 13px;
}

.sec2_nowLive_bset .tap_pager ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.sec2_nowLive_bset .tap_pager ul li a{
    color: black;
}

.sec2_nowLive_bset .live_best_list ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sec2_nowLive_bset .live_best_list ul li{
    flex-wrap: wrap;
    width: 25%;
    margin-bottom: 50px;
}

.sec2_nowLive_bset .live_best_list ul li{
    background-color:grey;
    width: 250px;
    height: 320px;
}

.sec2_nowLive_bset .sec2_best_more{
    display: inline-block;
    width: 200px;
    border: 1px solid gray;
    margin-bottom: 30px;
    padding: 20px 50px 20px 50px;

}
.sec2_nowLive_bset .sec2_best_more p{
    text-align: center;
    font-size: 18px;
}
/* 섹션2 서브메뉴 5개 *//* 섹션2 서브메뉴 5개 *//* 섹션2 서브메뉴 5개 */

.sec2_nowLive_bset .live_today_hot .tap_pager_in{
    display: none;
    width: 1200px;
}

.sec2_nowLive_bset .live_today_hot .tap_pager_in ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec2_nowLive_bset .live_today_hot .tap_pager_in ul li{
    width: 250px;
    height: 320px;
    background-color: rgb(70, 70, 70);
    margin-bottom: 20px;
    margin-top: 40px;
}

.sec2_nowLive_bset .tap_pager .live_today_hot:hover .tap_pager_in{
    /* display: inline-block; */
    position:absolute;
    left: 50%;
    margin-left: -600px;
    /* top: 134px; */
    display: flex;
    justify-content: space-evenly;
}

/* 버튼 */
.sec2_nowLive_bset .sec2_btn{
    position: absolute;
    display: block;
    background-color: rgb(158, 158, 158);
    top: 500px;
}
.sec2_nowLive_bset .sec2_btn img{
    width: 25px;
    background-color :darkgray;
}
.sec2_nowLive_bset .sec2_btn .sec2_btnR{
    position: absolute;
    right: -30px;
}
.sec2_nowLive_bset .sec2_btn .sec2_btnR{
    /* width: 25px; */
}

.sec2_nowLive_bset .sec2_btn .sec2_btnL{
    position: absolute;
    right: -1200px;
}


/* 섹션3 */
.sec3_newArrival{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    background-color: gainsboro;
}
.sec3_newArrival .newArrIn {
    margin-bottom: 50px;
}

.sec3_newArrival .newArrIn ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec3_newArrival h2{
    padding-top: 30px;
    margin-bottom: 10px;
}
.sec3_newArrival>p{
    margin-bottom: 40px;
}

.sec3_newArrival .newArrIn ul li{
    background-color: grey;
    width: 250px;
    height: 320px;
    margin-bottom: 50px;
}


.sec3_newArrival .sec3_best_more{
    display: inline-block;
    /* width: 200px; */
    margin-bottom: 30px;
    /* padding: 20px 50px 20px 50px; */
    text-align: center;

}
.sec3_newArrival .sec3_best_more p{
    width: 200px;
    display: inline-block;
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid gray;


}


/* 섹션4 */
.sec4_signature_item{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: gainsboro;
    margin-bottom: 50px;
} 
.sec4_signature_item .sec4_head{
    padding-top: 30px;
}
.sec4_signature_item .sec4_text{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.sec4_signature_item .sec4_text li{
    background-color: darkgray;
    margin:0 25px;
    padding: 12px 24px;
    margin-bottom: 30px;
}


.sec4_signature_item .signature_in{
    /* background-color: gray; */
}
.sec4_signature_item .signature_in ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec4_signature_item .signature_in li{
    width: 250px;
    height: 300px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;

}
.sec4_signature_item .signature_in{

}
.sec4_signature_item .signature_in{

}
.sec4_signature_item .sec4_best_more{
    display: inline-block;
    width: 200px;
    border: 1px solid gray;
    margin-bottom: 30px;
    padding: 20px 50px 20px 50px;

}
.sec4_signature_item .sec4_best_more p{
    text-align: center;
    font-size: 18px;

}



/* 섹션5 */
.sec5_best{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: gainsboro;
    margin-bottom: 50px;
}
.sec5_best .sec5_head{
    padding-top: 35px;
    margin-bottom: 20px;
}

.sec5_best .best_in{
    padding-top: 30px;
}
.sec5_best ul{
    display: flex;
    justify-content: space-evenly;

}
.sec5_best ul li{
    width: 250px;
    height: 300px;
    background-color: rgb(162, 162, 162);
    margin-bottom: 30px;
}

.sec5_best .sec5_best_more{
    display: inline-block;
    width: 200px;
    border: 1px solid gray;
    margin-bottom: 30px;
    padding: 20px 50px 20px 50px;

}
.sec5_best .sec5_best_more p{
    text-align: center;
    font-size: 18px;
}

/* 섹션6 */
.sec6_event{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.sec6_event .sec6_event_in{
    background-color:gainsboro;
}

.sec6_event .sec6_event_in h2{
    font-size: 32px;
    padding-top: 50px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.sec6_event .sec6_event_in p{
    margin-bottom: 30px;
    padding-left: 15px;
}

.sec6_event .sec6_event_in .envnt_list{
    /* background-color: rgb(85, 84, 84); */
    margin-bottom: 30px;
}

.sec6_event .sec6_event_in .envnt_list .envnt_list_1{
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

}
.sec6_event .sec6_event_in .envnt_list .envnt_list_1 ul{
}

.sec6_event .sec6_event_in .envnt_list .envnt_list_1 li{
    /* display: block; */
    width: 550px;
    height: 200px;
    background-color:gray;
}
.sec6_event .sec6_event_in .envnt_list .envnt_list_1 img{

}

.sec6_event .sec6_event_in .envnt_list .envnt_list_2{
    /* width: 600px; */
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;

}
.sec6_event .sec6_event_in .envnt_list .envnt_list_2 ul{
}

.sec6_event .sec6_event_in .envnt_list .envnt_list_2 li{
    /* display: block; */
    width: 165px;
    height: 200px;
    background-color: gray;
}

.sec6_event .sec6_btn{
    display: block;
    width: 30px;
}

/* 바로가기버튼 */
.sec6_event .sec6_more_page{
    display: block;

}
.sec6_event .sec6_more_page p{
    border: 1px solid gray;
    font-size: 16px;
}

.sec6_event .sec6_more_page p a{ 
    color: black;

}

.sec6_event .sec6_more_page .more_1{
    position: absolute;
    border: 1px solid rgb(106, 106, 106);
    top: 298px;
    left: 485px;
    background-color: gainsboro;
}
.sec6_event .sec6_more_page .more_2{
    position: absolute;
    border: 1px solid grey;
    top: 298px;
    right: 32px;
    background-color: gainsboro;
}

/* 좌우 버튼 */
.sec6_event{
    /* background-color: gainsboro; */
}
.sec6_event .sec6_btn{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75px;
    top: 80px;
    right: 36px;
}
.sec6_event .sec6_btn img{
    /* background-color: gray; */
    margin-left: -5px;
}
.sec6_event .sec6_btn .sec6_btnL{
    border: 1px solid gray;

}
.sec6_event .sec6_btn .sec6_btnR{
    border: 1px solid gray;
}

/* 버튼페이지 */

.sec6_event .sec6_more{ 
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}
.sec6_event .sec6_more p{
    width: 200px;
    border: 1px solid gray;
    padding: 20px 50px 20px 50px;
    font-size: 16px;
} 



/* .sec6_event .sec6_event_in .envnt_list .envnt_list_3{
    background-color: rgb(128, 154, 155);
}

.sec6_event .sec6_event_in .envnt_list .envnt_list_3{
    width: 600px;
    background-color: rgb(84, 111, 112);
    display: flex;
    justify-content: space-evenly;

}
.sec6_event .sec6_event_in .envnt_list .envnt_list_3 ul{
}

.sec6_event .sec6_event_in .envnt_list .envnt_list_3 li{
    display: block;
    width: 165px;
    height: 200px;
    background-color: gray;
} */


/* footer */
.f_menu{
    width: 1240px;
    margin: 0 auto;
}
/* footer text */
.f_in .f1{
    width: 1180px;
    margin: 0 auto;
    font-size: 12px;
}
.f_in .f1 ul li h3{
    margin-bottom: 8px;
}
.f_in .f1 ul{
    display: flex;
    justify-content: space-evenly;
}

.f_in .f1 ul li{
    margin-bottom: 10px;
}

.f_menu_in{
    display: flex;
    justify-content: space-between;
    background-color:gainsboro;
    padding: 15px;
    font-size: 15px;
}

.f_menu_in ul{
    display: flex;
}

.f_menu_in ul li{
    margin-right: 22px;
}
.f_menu_in ul li a{
    color: black;
}

.f_menu .f_menu_in .f_sns {
}

.f_menu .f_menu_in .f_sns .f_face img{
    width: 18px;
}
.f_menu .f_menu_in .f_sns .f_yout{
    width: 35px;
}
.f_menu .f_menu_in .f_sns .insta{
    width: 35px;
}