@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #111;
}

ul, ol{
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

fieldset { border: 0;}

legend { display: none;}